{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'recipes/css/recipes.css' %}">
  <title>{{object.name}}</title>
</head>

<body>
  <h1>{{object.name.lower}}</h1>
  <div class="navigation">
    <button onclick="showMenu()" class="navigation">
      <img src="{% static 'recipes/images/menu.png' %}" width="20px" />
    </button>
    <div id="nav" class="nav-hide">
      <ul>
        <li>add button here</li>
        <li>logout button here</li>
      </ul>
    </div>
  </div>
  <div class="recipe_detail">
    <span class="recipe_card">
      <br>
      <button class="goBack" title="Go back" onclick="window.history.back()">
        <img src="{% static 'recipes/images/back_arrow.png' %}" class="backArrow" width="15px" />
      </button>
      <span class="recipe_info">
        <table class="recipe_info" style="background: none; text-align: left; margin-left: auto; margin-right: auto;"
          cellpadding="5" cellspacing="5">
          <tr>
            <th style="font-style: italic;">
              &nbsp;cooking time
            </th>
            <td>
              {{object.cooking_time}} minutes
            </td>
          </tr>
          <tr>
            <th style="font-style: italic; border-top: dotted 1px black;">
              &nbsp;difficulty lvl
            </th>
            <td>
              {{object.calc_difficulty}}
            </td>
          </tr>
          <tr>
            <th style="font-style: italic; border-top: dotted 1px black;">
              &nbsp;Ingredients
              {% for len(ing) in object.get_ingredient_list %}
              <br>
              {% endfor %}
            </th>
            <td>
              {% for ing in object.get_ingredient_list %}
              {{ing}}
              <br>
              {% endfor %}
            </td>
          </tr>
        </table>
      </span>
      <br>
      <div class="image_mask">
        <img src="{{object.pic.url}}" width="400" height="auto" style="margin-top: -10px; min-height: 280px;" />
      </div>
    </span>
  </div>
  <footer class="footer" style="color: rgb(162, 167, 171);">
    menu icon by
    <a
      href="https://www.freepik.com/icon/more_10073240#fromView=search&page=1&position=14&uuid=d9dbb496-e623-46df-843d-0bf12bb9946b">
      yaicon
    </a>
    &nbsp; | &nbsp;
    back button by
    <a
      href="https://www.freepik.com/icon/left-chevron_9144318#fromView=search&page=2&position=40&uuid=45295e4d-3e91-4f5e-a6aa-d740ccf54050">
      M.Z Vector
    </a>
  </footer>
</body>
<script src="{% static 'recipes/js/navigation.js' %}"></script>

</html>